@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&family=Poppins&family=Roboto:wght@300;700&display=swap');

body {
    background-color: #fafafa;
    height: 100vh;
    font-family: 'Roboto', Open Sans;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.magic {
    background-color: #f9ca24;
    color: #fff;
    font-family: 'Poppins', Open Sans;
    border: 0;
    border-radius: 6px;
    font-size: 15px;
    padding: 12px 20px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    letter-spacing: 1px;
    box-shadow: 0 4px rgba(249, 202, 36, 0.5);
    z-index: 100;
}

.magic:focus {
    outline: none;
}

.magic:active {
    box-shadow: none;
    transform: translateY(4px);
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 500px;
    width: 500px;
    position: relative;
    transition: 0.4s ease;
}

.boxes.big {
    width: 600px;
    height: 600px;
}

.boxes.big .box {
    transform: rotate(360deg);
}

.box {
    background-image: url("https://media.giphy.com/media/5xtDarIHieSzSJdmn0A/giphy.gif");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    position: relative;
    height: 125px;
    width: 125px;
    transition: 0.4s ease;
}

.box::after {
    content: '';
    background-color: #F18D78;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}

.box::before {
    content: '';
    background-color: #FF5733 ;
    position: absolute;
    top: 8px;
    right: -15px;
    height: 100%;
    width: 15px;
    transform: skewY(45deg);
}